.pet-list{
    padding: 2em;
    list-style: none;
}

ul.pet-list li{
    display: inline-block;
    background-color: yellow;
    padding: 1.5em;
    margin: 2em;
    border: 1px solid yellow;
    border-radius: 1em;
    transition: .5s;
}

.pet-name,.pet-type{
    color: blue;
}

ul.pet-list li button{
    margin-top: .7em;
    margin-left: .3em;
    padding: 1em;
    font-weight: bold;
    background-color: blue;
    color: #fff;
    border: 3px solid rgba(0, 0, 255, 0.773);
    border-radius: 1em;
    cursor: pointer;
    transition: .5s;
}

ul.pet-list li button:hover{
    background-color: #fff;
    border: 3px solid blue;
    color: blue;
}

.animal-details{
    background-color: rgba(0, 0, 255, 0.796);
    color: #fff;
    padding: 1em;
    width: 100%;
    height: 100%;
    border-radius: .5em;
}

.wrapper{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}