.home-container{
    padding-top: 3em;
    padding-bottom: 8em;
}

.welcome{
    color: #fff;
    font-weight: bold;
}

button{
    margin-top: .7em;
    padding: 1em;
    width: 14em;
    font-weight: bold;
    background-color: blue;
    color: #fff;
    border: 3px solid rgba(0, 0, 255, 0.773);
    border-radius: 1em;
    cursor: pointer;
    transition: .5s;
}

button:nth-child(1){
    margin-left: 1em;
}

button:hover{
    background-color: #fff;
    border: 3px solid blue;
    color: blue;
}

@media (max-width:720px){
    h1{
        font-size: 1.3em !important;
    }

    h2{
        font-size: 1em !important;
    }
}